<div class="details">
  <div class="profile">
    <%= image_tag person.photo, alt: "#{person.name} image", class: 'profile-img' %>
  </div>
  <div class="profile-text">
    <p class="profile-name"> <%= person.name %> </p>
    <span class="post-num">Number of posts: <%= person.posts.size %> </span>
  </div>
</div>