<section>
  <div>
    <%= render partial: 'users/user_info', locals: { person: @user } %>
  </div>

  <div>
    <% @posts.each do |post| %>
      <div>
        <%= render partial: 'post_info', locals: { person_post: post } %>
      </div>

      <div>
        <%= render partial: 'comment_info', locals: { comments: post.recent_comments } %>
      </div>
    <% end %>
  </div>

  <button> Pagination </button>
</section>